<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>SchoolPower Dashboard</title>
	{% for jsfile_name in script_list %}
    <script src="{{host}}/{{jsfile_name}}.js"></script>
    {% endfor %}
    <style>
    h1 {margin: 5%;text-align:center;}
    h2 {margin: 2%;font-weight:bold;}
    body{margin: 5% 20%; font-family:"Consolas","Hack","Microsoft YaHei"}
    .charts div{margin:0 auto;}
    #dataset_click{text-align:center;}
    </style>
</head>

<body>

<div class="charts">
    <h1>SchoolPower Dashboard</h1>

    <br>

    <h2>Number</h2>
{{number_chart|safe}}
{{number_usage_chart|safe}}

    <h2>OS (Today)</h2>
{{os_chart|safe}}

    <h2>Versions (Today)</h2>
{{version_android_chart|safe}}
{{version_ios_chart|safe}}

    <h2>Action (Today)</h2>
{{action_chart|safe}}
</div>

</body>

</html>
